@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Young+Serif&display=swap');

:root {
    --brown-800: hsl(14, 45%, 36%);
    --rose-50: hsl(330, 100%, 98%);
    --rose-800: hsl(332, 51%, 32%);
    --stone-100: hsl(30, 54%, 90%);
    --stone-150: hsl(30, 18%, 87%);
    --stone-600: hsl(30, 10%, 34%);
    --stone-900: hsl(24, 5%, 18%);
    --transparent-grey: rgba(128, 128, 128, 0.388);
    --white: hsl(0, 0%, 100%);
    --primary-font-family: "Outfit";
    --secondary-font-family: "Young Serif";
    --font-400: 400;
    --font-600: 600;
    --font-700: 700;
    --omelette-img: url("./assets/images/image-omelette.jpeg");
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Outfit', 'Young Serif', Arial, sans-serif;
}
body {
    color: var(--stone-600);
    font-size: 1.1rem;
}
/* about section */
.meal-img {
    width: 100%;
    height: 30vh;
    background: var(--omelette-img);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.about-meal {
    margin-top: 1rem;
    padding: .8rem;
}
.meal-name {
    font-family: var(--secondary-font-family);
    font-size: 2.3rem;
    color: var(--stone-900);
    line-height: 1.1;
    letter-spacing: 1.2px;
    padding-bottom: 1.3rem;
}
.meal-intro {
    line-height: 1.4;
    margin-bottom: 10px;
}

/* preparation section */
.timing {
    background-color: var(--rose-50);
    border-radius: 10px;
    margin: 2rem 0;
    padding: 1rem 0;
}
.prep-time {
    color: var(--rose-800);
    margin-left: 30px;
}
.prep-sessions {
    width: 70%;
    margin: 7px 2rem;
    padding: .1rem 0;
    line-height: 1.4;
    position: relative;
    left: 10px;
}
.list {
    margin-top: 10px;
    width: 80%;
}
span.stages {
    font-weight: 700;
    padding-left: 10px;
}
/* new; ::marker */
.timing li::marker,
.ingredients li::marker {
    font-size: .8em;
}

/* ingredient section */
.ingredients {
    padding: .5em;
}
.ingredients span {
    padding-left: 10px;
}
.h-brown {
    font-size: 1.7em;
    font-family: var(--secondary-font-family);
    color: var(--brown-800);
}
.recipes, .steps {
    margin: 1em 0;
    list-style-position: inside;
}

/* instructions section */
.instructions{
    padding: 1.4em 0;
}
.instruction {
    margin-top: 5px;
}
.steps {
    line-height: 1.4;
}
.steps li::marker {
    color: var(--brown-800);
    font-weight: 600;
}
.steps li {
    width: 90%;
}

/* nutrient section */
.nutrition {
    margin: 1rem  0;
}
.nutrient-table table{
    width: 100%;
    text-align: center;
    margin: 17px 0;
}
.nutrient-table td {
    padding: 1rem 0;
}

/* Reusables */
.container {
    width: 95%;
    max-width: 1440px;
    margin-inline: auto;
}
.flex{
    display: flex;
}
.btm-border{
    border-bottom: 1px solid var(--transparent-grey);
}
.attribution {
    font-size: 11px;
    text-align: center;
    padding: 10px 0;
}
.attribution a {
    color: hsl(228, 45%, 44%);
}

@media screen and (min-width: 600px) {
    body{
        padding: 1em 0;
    }
    .meal-img {
        width: 92%;
        height: 70vh;
        border-radius: 10px;
        margin-inline: auto;
    }
}